@page
@model Connect_Four_Server.Pages.InformationModel
@{
    ViewData["Title"] = "Information";
}

<div class="text-center">
<h1 class="display-4">Information</h1>
    <div>
        <p>This page displays some information about the players and the games</p>
        <a class="nav-link text-blue" asp-area="" asp-page="/PlayersInfo">Players Inforamtion</a>
        <a class="nav-link text-blue" asp-area="" asp-page="/GamesInfo">Games Inforamtion</a>
    </div>
</div>
